body{background-image: url(images/background.jpg); background-size: 1500px; height: 1000px}
h1{text-align: center; color: white;}
h3{text-align: center; color: white;}
img{float: left;}
audio{float: left;}
iframe{float: left;}
p{margin: 215px; color: white;}
.class1{margin: 320px; color: white;}
.class2{margin: 580px; color: white;}